[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "regioneReloaded"]
	path = regioneReloaded
	url = https://github.com/rmalinverni/regionereloaded
